<!-- public/views/gallery.html -->

<h1><span class="fa fa-newspaper-o"></span> Gallery</h1>

<!-- Gallery Settings -->
<div>
	Sort by: 
	<select ng-model="sortMethod">
		<option value="-favorites">Most Popular</option>
		<option value="-dateAdded">Most Recent</option>
		<option value="name">Name (ascending)</option>
		<option value="-name">Name (descending)</option>
		<option value="state">Location</option>
		<option value="">Corn</option>
	</select>
	&nbsp&nbsp&nbsp&nbsp Show 
	<select ng-model="imgLimit">
		<option value=6>6</option>
		<option value=12>12</option>
		<option value=24>24</option>
	</select>
	at a time
</div>

<!-- Image Gallery -->
<material-card class="loc inline" ng-repeat="img in images | orderBy: sortMethod | limitTo: imgLimit">

	<!-- Image and Short Description -->
	<div class="crop crop-sm">
		<img ng-src="{{img.url}}"/>
	</div>
	<div class="desc">
		<div class="">
			<span ng-click="test(img)">{{img.name}}</span>
			<a ng-href="/location/{{img.name}}">all</a>
		</div>
		<!-- Delete button, debugging purposes only -->
		<div class="inline"> 
			<button type="button" class="btn btn-default" ng-click="deleteImage(img._id)">
				<span class="fa fa-trash"></span>
			</button>
		</div> 
		<div class="inline"><div class="">{{img.city | characters:12 :false}}, {{img.state}}</div></div> 
		<div class="inline">
			<button type="button" class="btn-fav" ng-class="{active: checkFav(img)}" ng-click="modFavs(img)">
				<span class="fa fa-star"></span> {{img.favorites}}
			</button>
		</div>
	</div>
</material-card>
