<!-- public/views/loc-nf.html -->
<!-- rendered page when a location route does not return any images -->
<!DOCTYPE html>

<!-- Angular Module -->
<html ng-app="foodApp" class="no-js">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Location not found</title>

	<!-- Universal Resources -->
	<script src="/resources/angular.min.js"></script>
	<main-resources></main-resources>
</head>

<!-- Load user data from res.render() and transfer to angular controller -->
<body ng-controller="locationController" ng-init="user= <%= JSON.stringify(user)%>; name= <%= JSON.stringify(name)%>">

<!-- Header and Navbar -->
<main-navbar></main-navbar>

<div id="main" class="centered">
	<h3>Sorry!</h3>
	<h5>We could not find any images for the location "{{name}}". Try checking your spelling or returning to the <a href="/">home page</a></h5>
</div>

<script src="/js/core-location.js"></script>
<script src="/js/controllers/locationCtrl.js"></script>
<script src="/js/directives/coreDirective.js"></script>
<script src="/js/filters/truncate.js"></script>
</body>
</html>