<!-- public/views/location.html -->

<div class="head">
	<h1><span class="fa fa-cutlery" style="margin-right: 5px;"></span>{{params.loc_name}}</h1>
	<h3>{{imgs[0].city}}, {{imgs[0].state}}</h3>

	<!-- Gallery Settings -->
	<div>
		Sort by: 
		<select ng-model="sortMethod">
			<option value="-favorites">Most Popular</option>
			<option value="-dateAdded">Most Recent</option>
			<option value="">Corn</option>
		</select>
		&nbsp&nbsp&nbsp&nbsp Show 
		<select ng-model="imgLimit">
			<option value=6>6</option>
			<option value=12>12</option>
			<option value=24>24</option>
		</select>
		at a time
		<!-- <button class="btn btn-primary" ng-click="test()">Test</button> -->
	</div>
</div>

<!-- Image Gallery -->
<material-card class="loc inline" ng-repeat="img in imgs | orderBy: sortMethod | limitTo: imgLimit">

	<!-- Image and Short Description -->
	<img class="thumb" ng-src="{{img.thumb}}" ng-click="imgDialog(img, $event)"/>

	<div class="desc">
		<div class="">
			<a ng-href="/user/{{img.authorId}}">{{img.authorName}}</a>
		</div>
		<div class="inline">{{img.dateAdded | date: 'MM/dd/yy'}}</div>
		<material-button class="material-button-raised btn-fav inline" ng-class="{active: checkFav(img)}" ng-click="modFavs(img)">
			<span class="fa fa-star"></span> {{img.favorites}}
		</material-button>
	</div>
</material-card>