<!-- public/views/location.html -->

<h1><span class="fa fa-cutlery" style="margin-right: 5px;"></span>{{params.loc_name}}</h1>
<h3>{{imgs[0].city}}, {{imgs[0].state}}</h3>

<!-- Gallery Settings -->
<div>
	Sort by: 
	<select ng-model="sortMethod">
		<option value="-favorites">Most Popular</option>
		<option value="-dateAdded">Most Recent</option>
		<option value="">Corn</option>
	</select>
	&nbsp&nbsp&nbsp&nbsp Show 
	<select ng-model="imgLimit">
		<option value=6>6</option>
		<option value=12>12</option>
		<option value=24>24</option>
	</select>
	at a time
	<!-- <button class="btn btn-primary" ng-click="test()">Test</button> -->
</div>

<!-- Image Gallery -->
<material-card class="loc inline" ng-repeat="img in imgs | orderBy: sortMethod | limitTo: imgLimit">

	<!-- Image and Short Description -->
	<div class="crop crop-sm" ng-click="imgDialog(img)">
		<img ng-src="{{img.url}}"/>
	</div>
	<div class="desc">
		<div class="">
			<a ng-href="/user/{{img.authorId}}">{{img.authorName}}</a>
		</div>
		<div class="inline">{{img.dateAdded | date: 'MM/dd/yy'}}</div>
		<button type="button" class="btn-fav inline" ng-class="{active: checkFav(img)}" ng-click="modFavs(img)">
			<span class="fa fa-star"></span> {{img.favorites}}
		</button>
	</div>
</material-card>