<!-- public/views/login.html -->

<div class="head">
	<h1><span class="fa fa-sign-in"></span> Login</h1>
</div>

<material-card class="form-container" ng-hide="user">
	<p>Login or Register with
		<material-button class="material-button-raised btn-fav color-2" ng-click="login()"><span class="fa fa-facebook-square"></span>&nbspFacebook</material-button>
	</p>
</material-card>

<material-card class="form-container" ng-show="user">
	<p>You are already logged in! Get outta here and go <a href="/">home</a></p>
</material-card>