<!-- public/views/login.html -->
<!DOCTYPE html>

<html class="no-js" ng-app="foodApp">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Login</title>

	<!-- Universal Resources -->
	<script src="/resources/angular.min.js"></script>
	<main-resources></main-resources>
</head>

<body>

<!-- Header and Navbar -->
<main-navbar></main-navbar>

<div class="container">
	<div class="col-xs-6 col-xs-offset-3">
		<h1><span class="fa fa-sign-in"></span> Login</h1>
		<p>Login or Register with</p>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/profile"><span class="fa fa-upload"></span> Profile</a>
	</div>
</div>

<script src="/js/core-location.js"></script>
<script src="/js/controllers/locationCtrl.js"></script>
<script src="/js/directives/coreDirective.js"></script>
<script src="/js/filters/truncate.js"></script>
</body>
</html>