<!-- public/views/login.ejs -->
<!DOCTYPE html>

<html class="no-js">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Login</title>

	<!-- Universal Resources -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>

<!-- Header and Navbar -->
<header>
<nav class="navbar navbar-default">
	<div class="container">
      	<div class="navbar-header">
        	<a class="navbar-brand" href="#">Platter</a>
      	</div>

      	<ul class="nav navbar-nav navbar-right">
        	<li><a href="/"><span class="fa fa-home"></span> Home</a></li>
        	<li><a href="/upload"><span class="fa fa-upload"></span> Upload</a></li>
        	<li><a href="/login"><span class="fa fa-sign-in"></span> Login</a></li>
  		</ul>
	</div>
</nav>
</header>

<div class="container">
	<div class="col-xs-6 col-xs-offset-3">
		<h1><span class="fa fa-sign-in"></span> Login</h1>
		<p>Login or Register with</p>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/profile"><span class="fa fa-upload"></span> Profile</a>
	</div>
</div>

</body>
</html>