<!-- public/views/upload.html -->

<h2>Profile</h2>

<!-- If not logged in -->
<div ng-hide="user" class="row">
	<p >Please <a href="/login">login or sign up</a> to be able to view your profile</p>
</div>

<div class="centered" ng-show="user">
	<!-- Heading -->
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> {{user.facebook.name}}</h1>
		<a ng-click="logout()" href="">Logout</a>
	</div>

	<div class="row left">
		<!-- Facebook Account Info -->
		<div class="col-xs-6 col-xs-offset-3">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
				<p>
					<strong>name</strong>: {{user.facebook.name}}<br>
					<strong>email</strong>: {{user.facebook.email}}<br>
					<strong>id</strong>: {{user.facebook.id}}<br>
				</p>
			</div>
		</div>
	</div>
	<br><button class="btn btn-primary" ng-click="test()">Test</button>
	<button class="btn btn-primary" ng-click="reset()">Reset</button>

	<!-- User Uploads -->
	<div>
		<h3>Uploads</h3>
		<div ng-repeat="img in uploads" class="loc inline">
			<button type="button" class="btn btn-default" ng-click="deleteImage(img._id)">
				<span class="fa fa-trash-o"></span>
			</button>
			<span>{{img.name}}</span>
			<div class="inline">
				<button type="button" class="btn btn-default btn-fav" ng-class="" ng-click="">
					<span class="glyphicon glyphicon-star"></span> {{img.favorites}}
				</button>
			</div>
			<div class="crop crop-sm">
				<img ng-src="{{img.url}}"/>
			</div>
		</div>
	</div>

	<!-- User Favorites -->
	<div>
		<h3>Favorites</h3>
		<div ng-repeat="fav in favorites" class="loc inline">
			<span>{{fav.name}}</span>
			<div class="inline">
				<button type="button" class="btn btn-default btn-fav" ng-class="{active: checkFav(fav)}" ng-click="">
					<span class="glyphicon glyphicon-star"></span> {{fav.favorites}}
				</button>
			</div>
			<div class="crop crop-sm">
				<img ng-src="{{fav.url}}"/>
			</div>
		</div>
	</div>
</div>
