<!-- public/views/upload.html -->

<!-- If not logged in -->
<div ng-hide="user">
	<h1><span class="fa fa-user"></span>Profile</h1>
	<material-card class="form-container" ng-hide="user">
		<p>Please <a href="/login">login or sign up</a> to be able to view your profile</p>
	</material-card>
</div>

<div ng-show="user">
	<!-- Heading -->
	<h1><span class="fa fa-facebook-square"></span> {{user.facebook.name}}</h1>

	<div id="prof-buttons">
		<material-button class="material-button-raised color-4" ng-click="logout()">
			<span class="fa fa-sign-out"></span> Logout
		</material-button>
		<material-button class="material-button-raised color-4" ng-href="/user/{{user._id}}">
			<span class="fa fa-user"></span> Public Profile
		</material-button>
	</div>
  
	<!-- 
	<button class="btn btn-primary" ng-click="test()">Test</button> 
	<button class="btn btn-primary" ng-click="reset()">Reset</button> -->

	<div class="prof-content">

		<!-- Header tabs -->
		<div class="prof-tab-container color-5">
			<material-tabs class="color-3 prof-tabs prof-tabs-profile" selected="selectedIndex">
		    <material-tab ng-click="go(0)">
		    	<span class="fa fa-image"></span>
		      My Uploads
		    </material-tab>
		    <material-tab ng-click="go(1)">
		    	<span class="fa fa-star"></span>
		      My Favorites
		    </material-tab>
		    <material-tab ng-click="go(2)">
		    	<span class="fa fa-info-circle"></span>
		      My Info
		    </material-tab>
		  </material-tabs>
	  </div>

	  <div ng-switch on="selectedIndex">

			<!-- User Uploads -->
			<div ng-switch-when="0">
				<h3 class="header-thin">Uploads</h3>
				<material-card class="loc inline" ng-repeat="upl in uploads">
					<!-- Image and Short Description -->
					<img class="thumb" ng-src="{{upl.thumb}}" ng-click="imgDialog(upl, $event)"/>
					<div class="desc">
						<div class="desc-title">
							<span ng-click="test(upl)">{{upl.name | characters: 20}}</span>
							<material-button class="material-button-raised btn-fav" ng-click="openDialog(upl, $event)">Edit</material-button>
						</div>
						<!-- Delete button -->
						<div class="inline"> 
							<material-button class="material-button-raised btn-fav" ng-click="deleteImage(upl._id)">
								<span class="fa fa-trash"></span>
							</material-button>
						</div>
						<div class="inline">{{upl.city | characters:12 :false}}, {{upl.state | characters: 2}}</div>
						<material-button class="material-button-raised btn-fav inline" ng-class="{active: checkFav(upl)}" ng-click="modFavs(upl)">
							<span class="fa fa-star"></span> {{upl.favorites}}
						</material-button>
					</div>
				</material-card>
			</div>

			<!-- User Favorites -->
			<div ng-switch-when="1">
				<h3 class="header-thin">Favorites</h3>
				<material-card class="loc inline" ng-repeat="fav in favorites">
					<!-- Image and Short Description -->
					<img class="thumb" ng-src="{{fav.thumb}}" ng-click="imgDialog(fav, $event)"/>
					<div class="desc">
						<div class="">
							<span ng-click="test(fav)">{{fav.name | characters: 20}}</span>
						</div>
						<div class="inline">{{fav.city | characters:12 :false}}, {{fav.state | characters: 2}}</div>
						<material-button class="material-button-raised btn-fav inline" ng-class="{active: checkFav(fav)}" ng-click="modFavs(fav)">
							<span class="fa fa-star"></span> {{fav.favorites}}
						</material-button>
					</div>
				</material-card>
			</div>

			<!-- Facebook Friends -->
			<div ng-switch-when="2">
				<h3 class="header-thin">Email</h3>
				<p>{{user.facebook.email}}</p>
				<h3 class="header-thin">Friends</h3>
				<p>Pls. You have no friends</p>
			</div>
			
		</div>
	</div>
</div>


