<!-- public/views/upload.html -->

<!-- If not logged in -->
<div ng-hide="user">
	<h1><span class="fa fa-anchor"></span>Profile</h1>
	<p class="well">Please <a href="/login">login or sign up</a> to be able to view your profile</p>
</div>

<div ng-show="user">
	<!-- Heading -->
	<h1><span class="fa fa-facebook-square"></span> {{user.facebook.name}}</h1>
	<a ng-click="logout()" href="">Logout</a>

	<!-- Facebook Account Info -->
	<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
	<p class="well">
		<strong>name</strong>: {{user.facebook.name}}<br>
		<strong>email</strong>: {{user.facebook.email}}<br>
		<strong>id</strong>: {{user.facebook.id}}<br>
	</p>

	
	<button class="btn btn-primary" ng-click="test()">Test</button> <!--
	<button class="btn btn-primary" ng-click="reset()">Reset</button> -->

	<!-- User Uploads -->
	<div>
		<h3>Uploads</h3>
		<material-card class="loc inline" ng-repeat="upl in uploads">
			<!-- Image and Short Description -->
			<div class="crop crop-sm">
				<img ng-src="{{upl.url}}"/>
			</div>
			<div class="desc">
				<div class="">
					<span ng-click="test(upl)">{{upl.name}}</span>
					<a ng-href="/location/{{upl.name}}">all</a>
					<button ng-click="openDialog(upl, $event)">Edit</button>
				</div>
				<!-- Delete button, debugging purposes only -->
				<div class="inline"> 
					<button type="button" class="btn btn-default" ng-click="deleteImage(upl._id)">
						<span class="fa fa-trash"></span>
					</button>
				</div> 
				<div class="inline"><div class="">{{upl.city | characters:12 :false}}, {{upl.state}}</div></div> 
				<div class="inline">
					<button type="button" class="btn btn-default btn-fav" ng-class="{active: checkFav(upl)}" ng-click="modFavs(upl)">
						<span class="fa fa-star"></span> {{upl.favorites}}
					</button>
				</div>
			</div>
		</material-card>
	</div>

	<!-- User Favorites -->
	<div>
		<h3>Favorites</h3>
		<material-card class="loc inline" ng-repeat="fav in favorites">
			<!-- Image and Short Description -->
			<div class="crop crop-sm">
				<img ng-src="{{fav.url}}"/>
			</div>
			<div class="desc">
				<div class="">
					<span ng-click="test(fav)">{{fav.name}}</span>
					<a ng-href="/location/{{fav.name}}">all</a>
				</div>
				<div class="inline"><div class="">{{fav.city | characters:12 :false}}, {{fav.state}}</div></div> 
				<div class="inline">
					<button type="button" class="btn-fav" ng-class="{active: checkFav(fav)}" ng-click="modFavs(fav)">
						<span class="fa fa-star"></span> {{fav.favorites}}
					</button>
				</div>
			</div>
		</material-card>
	</div>
</div>


