<!-- public/views/upload.html -->

<div class="head">
<h1><span class="fa fa-upload"></span> Upload</h1>
</div>

<!-- If not logged in -->
<material-card class="form-container" ng-hide="user">
	<p>Please <a href="/login">login or sign up</a> to be able to upload a picture</p>
</material-card>

<material-card class="form-container" ng-show="user">
	<form name="upForm" id="up-form" novalidate>
		<h3>Upload an image</h3>
		<div id="form-body" class="left">
			<material-input-group class="ig material-input-group-theme-custom">
				<label class="m-label left">Name</label>
			  <input class="m-input" type="text" name="name" ng-model="formData.name" required>
			</material-input-group>
			<material-input-group class="ig material-input-group-theme-custom">
				<label class="m-label left">City</label>
			  <input class="m-input" type="text" name="city" ng-model="formData.city" required>
			</material-input-group>
			<material-input-group class="ig material-input-group-theme-custom">
				<label class="m-label left">State</label>
			  <input class="m-input" type="text" name="state" ng-model="formData.state" required>
			</material-input-group><br>
		  <input type="file" name="image" ng-file-select="onFileSelect($files)" required>
		  <div>We support .jpg, .png, and .gif files up to 3MB large</div>
		</div>
		<material-button class="material-button-raised color-4" ng-click="upload()">
			<span class="fa fa-upload"></span> Submit
		</material-button>
	</form> 
</material-card>
<!-- 
<button ng-click="test()">Test</button> -->


<div id="progress" ng-show="inProgress">
	<material-slider>
	  <input type="range" ng-model="data.progress">
	</material-slider>
	<p>
		{{data.progress}}% Uploaded
	</p>
</div>
