<!-- public/views/user.html -->

<!-- Public Profile of a user -->

<!-- Heading -->
<h1>
	<material-checkbox ng-model="showAdmin" class="inline" ng-show="checkAdmin()"></material-checkbox> 
	<span class="fa fa-facebook-square"></span> {{profile.facebook.name}}
</h1>
<!--
<button class="btn btn-primary" ng-click="test()">Test</button> 
<button class="btn btn-primary" ng-click="reset()">Reset</button> -->

<div class="prof-content">

	<material-card class="form-container" ng-show="showAdmin">
		<p>ID: {{profile._id}}</p>
		<p>Email: {{profile.facebook.email}}</p>
	</material-card>

	<!-- Header tabs -->
	<div class="prof-tab-container color-5">
		<material-tabs selected="selectedIndex" class="color-3 prof-tabs prof-tabs-user">
	    <material-tab ng-click="go(0)">
	    	<span class="fa fa-image"></span>
	      Uploads
	    </material-tab>
	    <material-tab ng-click="go(1)">
	    	<span class="fa fa-star"></span>
	      Favorites
	    </material-tab>
	  </material-tabs>
  </div>

  <div ng-switch on="selectedIndex">

		<!-- User Uploads -->
		<div ng-switch-when="0">
			<h3 class="header-thin">Uploads</h3>
			<material-card class="loc inline" ng-repeat="upl in uploads">
				<!-- Image and Short Description -->
				<img class="thumb" ng-src="{{upl.thumb}}" ng-click="imgDialog(upl, $event)"/>
				<div class="desc">
					<div class="">
						<span ng-click="test(upl)">{{upl.name | characters: 20}}</span>
					</div>
					<div class="inline">{{upl.city | characters:12 :false}}, {{upl.state | characters: 2}}</div>
					<material-button class="material-button-raised btn-fav inline" ng-class="{active: checkFav(upl)}" ng-click="modFavs(upl)">
						<span class="fa fa-star"></span> {{upl.favorites}}
					</material-button>
				</div>
			</material-card>
		</div>

		<!-- User Favorites -->
		<div ng-switch-when="1">
			<h3 class="header-thin">Favorites</h3>
			<material-card class="loc inline" ng-repeat="fav in favorites">
				<!-- Image and Short Description -->
				<img class="thumb" ng-src="{{fav.thumb}}" ng-click="imgDialog(fav, $event)"/>
				<div class="desc">
					<div class="">
						<span ng-click="test(fav)">{{fav.name | characters: 20}}</span>
					</div>
					<div class="inline">{{fav.city | characters:12 :false}}, {{fav.state | characters: 2}}</div>
					<material-button class="material-button-raised btn-fav inline" ng-class="{active: checkFav(fav)}" ng-click="modFavs(fav)">
						<span class="fa fa-star"></span> {{fav.favorites}}
					</material-button>
				</div>
			</material-card>
		</div>
		
	</div>
</div>


