<!-- public/views/user.html -->

<!-- Public Profile of a user -->

<!-- Heading -->
<h1><span class="fa fa-facebook-square"></span> {{profile.facebook.name}}</h1>
<!--
<button class="btn btn-primary" ng-click="test()">Test</button> 
<button class="btn btn-primary" ng-click="reset()">Reset</button> -->

<!-- User Uploads -->
<div>
	<h3>Uploads</h3>
	<material-card class="loc inline" ng-repeat="upl in uploads">
		<!-- Image and Short Description -->
		<div class="crop crop-sm" ng-click="imgDialog(upl)">
			<img ng-src="{{upl.url}}"/>
		</div>
		<div class="desc">
			<div class="">
				<span ng-click="test(upl)">{{upl.name | characters: 15}}</span>
				<a ng-href="/location/{{upl.name}}">all</a>
			</div>
			<div class="inline">{{upl.city | characters:12 :false}}, {{upl.state | characters: 2}}</div>
			<button type="button" class="btn btn-default btn-fav inline" ng-class="{active: checkFav(upl)}" ng-click="modFavs(upl)">
				<span class="fa fa-star"></span> {{upl.favorites}}
			</button>
		</div>
	</material-card>
</div>

<!-- User Favorites -->
<div>
	<h3>Favorites</h3>
	<material-card class="loc inline" ng-repeat="fav in favorites">
		<!-- Image and Short Description -->
		<div class="crop crop-sm" ng-click="imgDialog(fav)">
			<img ng-src="{{fav.url}}"/>
		</div>
		<div class="desc">
			<div class="">
				<span ng-click="test(fav)">{{fav.name | characters: 15}}</span>
				<a ng-href="/location/{{fav.name}}">all</a>
			</div>
			<div class="inline">{{fav.city | characters:12 :false}}, {{fav.state | characters: 2}}</div>
			<button type="button" class="btn-fav inline" ng-class="{active: checkFav(fav)}" ng-click="modFavs(fav)">
				<span class="fa fa-star"></span> {{fav.favorites}}
			</button>
		</div>
	</material-card>
</div>



