body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight:300;
  margin:0px;
}
core-header-panel {
  background: white;
  /* height: 100% fails here on some browsers */
  height: 100vh;
  width: 100vw;
}
material-tabs, material-tab{
  background-color: #ff8000;
}
p {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #eee;
}
