<material-dialog>
  <div class="dialog-content">
    <h3 class="dialog-title">Edit this location</h3>
    <material-input-group class="ig material-input-group-theme-orange">
      <label class="m-label left">{{nameLabel}}</label>
      <input class="m-input" type="text" name="name" ng-model="formData.name">
    </material-input-group>
    <material-input-group class="ig material-input-group-theme-orange">
      <label class="m-label left">{{cityLabel}}</label>
      <input class="m-input" type="text" name="city" ng-model="formData.city">
    </material-input-group>
    <material-input-group class="ig material-input-group-theme-orange">
      <label class="m-label left">{{stateLabel}}</label>
      <input class="m-input" type="text" name="state" ng-model="formData.state">
    </material-input-group>
  </div>
  <div id="edit-actions" class="dialog-actions" layout="horizontal">
    <button ng-click="close()">
      Cancel
    </button> &nbsp&nbsp
    <button ng-click="submit()">
      Submit
    </button>
  </div>
</material-dialog>