<material-dialog>
  <div class="dialog-content">
    <h3 class="centered dialog-title"><span class="fa fa-sign-in"></span> Please login!</h3>
    <div>
      <p>Sorry! You need to <a href="/login" ng-click="close()">login</a> or <a href="/login" ng-click="close()">sign up</a> to favorite a picture!</p>
    </div>
  </div>
  <div id="edit-actions" class="dialog-actions" layout="horizontal">
    <material-button class="material-button-raised" ng-click="close()">
      Okay
    </material-button>
  </div>
</material-dialog>