<material-dialog>
  <div class="dialog-content">
    <h1 class="centered dialog-title">{{img.name}}</h1>

    <table>
      <tr>
        <td><span class="fa fa-globe"></span> {{img.city}}, {{img.state}}</td>
        <td><span class="fa fa-user"></span> <a ng-href="/user/{{img.authorId}}" ng-click="close()">{{img.authorName}}</a></td>
      </tr>
      <tr>
        <td><span class="fa fa-clock-o"></span> {{img.dateAdded | date : 'MM/dd/yyyy'}}</td>
        <td><span class="fa fa-star"></span> {{img.favorites}}</td>
      </tr>
      <tr>
        <td><span class="fa fa-cutlery"></span> <a ng-href="/location/{{img.name}}" ng-click="close()">Location page</a></td>
      </tr>
    </table>

    <img ng-src="{{img.url}}"/>

  </div>
  <div id="edit-actions" class="dialog-actions" layout="horizontal">
    <material-button class="material-button-raised" ng-click="close()">
      Close
    </material-button>
  </div>
</material-dialog>