<material-toolbar class="color-3" id="home-bar">
  <div class="material-toolbar-tools limit" layout="horizontal">
    <h1><a href="/">Help me name this</a></h1>
    <span flex></span>
    <material-tabs nobar class="color-3 tabs" selected="selectedIndex" id="home-tabs">
      <material-tab ng-click="nav('/')">
        <span class="fa fa-home"></span>
        Home
      </material-tab> <!-- 
      <material-tab noink ng-click="nav('/')">
        Browse
      </material-tab> -->
      <material-tab ng-click="nav('/upload')">
        <span class="fa fa-upload"></span>
        Upload
      </material-tab>
      <material-tab ng-click="nav('/login')" ng-hide="user">
        <span class="fa fa-sign-in"></span>
        Login
      </material-tab>
      <material-tab ng-click="nav('/profile')" ng-show="user">
        <span class="fa fa-user" style="margin-right: 2px;"></span>{{user.facebook.name | words: 1 :false}}
      </material-tab>
    </material-tabs>
  </div>
</material-toolbar>