<!-- /templates/navbar.html -->

<core-toolbar class="" id="mainheader">
  <a href="/" style="color: black">
    <core-icon icon="home"></core-icon>
  </a>
  <span style="font-size:40px">Corn</span>
  <span flex>
    <paper-tabs class="fit" ng-model="tab">
      <paper-tab ng-click="go('/')">You're</paper-tab>
      <paper-tab ng-click="go('/upload')">A</paper-tab>
      <paper-tab ng-click="go('/login')">Nerd<paper-tab>
    </paper-tabs>
  </span>
  <paper-icon-button id="searchbutton" icon="search" ng-click="test()"></paper-icon-button>
</core-toolbar>