<!-- /templates/resources.html -->

<!-- Universal Resources -->

<link rel="import" href="/resources/polymer-components/paper-elements/paper-elements.html">
<link rel="import" href="/resources/polymer-components/core-elements/core-elements.html">
<link rel="import" href="/resources/polymer-components/core-icons/core-icons.html">
<link rel="import" href="/resources/polymer-components/font-roboto/roboto.html">
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/main.css">