<!-- /templates/resources.html -->

<!-- Universal Resources -->

<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="stylesheet" href="/resources/bootstrap.min.css">
<link rel="stylesheet" href="/resources/font-awesome.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="import" href="/resources/polymer-components/bower_components/paper-elements/paper-elements.html">
<script src="/resources/jquery-2.1.1.min.js"></script>
<script src="/resources/bootstrap.min.js"></script>